<!DOCTYPE html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<body style="">
      <div class="navbar">
    	<div class="navbar-inner">
    		<a class="brand" href="#">NAM</a>
    			<ul class="nav">
    				<li><a href="/">Home</a></li>
    				<li class="active"><a href="/Config">Config</a></li>
					<li class="divider"></li>
                     
			        <% if (session.user) { %>
                		<li class="pull-right"><a href="/logout">Logout</a></li>
         			<% } else { %>
              	  
                		<li class="pull-right"><a href="/login?redir=/">Login</a></li>
                  
         			<% } %>        
         			    				
    			</ul>
    	</div>
    </div>
    
<div class="wrapper container-fluid">


  	<div id="flash">
	</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    	<ul class="tabbable nav nav-list">
    	<li class="nav-header">Config</li>
    	<li><a href="/config">NAM Server</a></li>
    	<li><a href="/config/bdw">BDW</a></li>
    	<li><a href="/config/owd">OWD</a></li>
    	<li><a href="/config/packetsloss">PacketsLoss</a></li>
	<li><a href="/config/users">Edit Credentials</a></li>
    	
    	</ul>
  	</div>
  	<div class="tabbable span10">
  	
  	
  	    

    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	

