<!DOCTYPE html>
<html>
  <head>
    <title>XIMM-NAM Adapter </title>

  </head>
  <body>
  
<% if (session.user) { %>
      <div class="navbar">
    	<div class="navbar-inner">
    		<a class="brand" href="#">NAM</a>
    			<ul class="nav">
    				<li class="active"><a href="/">Home</a></li>
    				
                     
			        
				<li><a href="/Config">Config</a></li>
					<li class="divider"></li>
                		<li class="pull-right"><a href="/logout">Logout</a></li>
         			    				
    			</ul>
    	</div>
    </div>

<% } %> 
  <div class="row-fluid">
    <div class="span1">
    </div>
    
    	<div class="span10">
  	

  
    <h1>Welcome to</h1>
    <h1>XIMM-NAM Adapter </h1>
    <br> </br>
    <p>NAM Adapter - <%=version%> -  is up and running in this host</p>
	<br>
	</>
	<br>
	</>
	  	</div>
 </div>
  </body>
</html>
