<!DOCTYPE html>
<html>
  <head>
    <title>XIMM-NAM Adapter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/css/bootstrap.css" rel="stylesheet">
    
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
   
	<header class="navbar">
	  <nav class="navbar-inner">
	   
	   <h2 class="left_title_P">NETWORK ACTIVE MONITORING</h2> 


	  </nav>
		</header>

		<section>


                      <!--  var flash = flash() %> 

                       <% if (flash.info) { %>

                       <div class='alert alert-info'>

                       <h3 class='alert-heading'>Information:</h3>

                       <ul>

                       <% for (var i in flash.info) { %>

                       <li> <%= flash.info[i] %> </li>

                       <% } %>

                       </ul>

                       </div>

                       <% } %>


                       <% if (flash.success) { %>

                       <div class='alert alert-success'>

                       <h3 class='alert-heading'>Completed Tasks:</h3>

                       <ul>

                       <% for (var i in flash.success) { %>

                       <li> <%= flash.success[i] %> </li>

                       <% } %>

                       </ul>

                       </div>

                       <% } %>


                       <% if (flash.error) { %>

                       <div class='alert alert-error'>

                       <h3 class='alert-heading'>Error's found:</h3>

                       <ul>

                       <% for (var i in flash.error) { %>

                       <li> <%= flash.error[i] %> </li>

                       <% } %>

                       </ul>

                       </div>

                       <% } %> -->
                   </section>

<%- body %>
  
    
  </body>
<!-- replace_contents 'footer' -->

<footer>
<div>
  2014 
  © 
  <a href="http://fi-xifi.eu/">XIFI</a>. 
  The use of NAM services is subject to the acceptance of the
  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions"> 
    Terms and Conditions
  </a>
  and 
  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">
    Personal Data Protection Policy
  </a>
</div>
</footer>
</html>
