
<%- include _template.ejs %>
  	
  <section>	
	  <form class="form-horizontal">
	    <fieldset>
		
		    <legend><h3>Packets Loss Parameters scheduler</h3></legend>
		    <br>
		    		    
		    <div class="control-group">
				<label class="control-label" for="inputRegion">regionId</label>
				<div class="controls">
					<input type="text" id="inputRegion" placeholder="regionId">
				</div>
				
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputHostId">hostId</label>
				<div class="controls">
					<input type="text" id="inputHostId" placeholder="hostId">
				</div>
			</div>
			
				<div class="control-group">
				<label class="control-label" for="inputFequency">Fequency</label>
				<div class="controls">
					<input type="text" id="inputPublicIp" placeholder="-- min">
				</div>
			</div>
			
		    
		    <div class="form-actions">
		    	<button type="submit" class="btn btn-primary">Save changes</button>
		    	<button type="button" class="btn">Cancel</button>
		    </div>
	    
	    </fieldset>
    </form>
    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  </section>	
  	
  	</div>
  </div>
 </div>

</body>
