<!DOCTYPE html>

<script type="text/javascript">
$("#myTab .dropdown-menu a").click( function(e){
    
    var source = $(this).data("source");
    
    if( source )
    {
        $('#myTab a[href="#' + source + '"]').tab('show');
    }
    
    return false;
});

</script>

<body style="">
      <div class="navbar">
    	<div class="navbar-inner">
    		<a class="brand" href="#">NAM</a>
    			<ul class="nav">
    				<li><a href="/">Home</a></li>
    				<li class="active"><a href="/Config">Config</a></li>
					<li class="divider"></li>
					<li class=""><a href="#">....</a></li>
					
					<li class="pull-right"><a href="#"><%=session.user.login%></a></li>
                     
			        <% if (session.user) { %>
                		<li class="pull-right"><a href="/logout">Logout</a></li>
         			<% } else { %>
              	  
                		<li class="pull-right"><a href="/login?redir=/">Login</a></li>
                  
         			<% } %>     				
    			</ul>
    	</div>
    </div>
    
<div class="wrapper container-fluid">


  	<div id="flash">
	</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    	<ul class="tabbable nav nav-list">
    	<li class="nav-header">Config</li>
    	<li><a href="/config">NAM Server</a></li>
    	<li><a href="/config/bdw">BDW</a></li>
    	<li><a href="/config/owd">OWD</a></li>
    	<li class="active"><a href="/config/packetsloss">PacketsLoss</a></li>
	<li><a href="/config/user">Change User - Password</a></li>
    	...
    	</ul>
  	</div>
  	<div class="tabbable span10">
  	
  	
<form method='post' action='/users/<%= user.id %>' class='form-horizontal'>

  <input type='hidden' name='_method' value='put'>

  <%- include _form.ejs %>

</form>


<a href="/users"> Volver </a>


	  <form class="form-horizontal">
	    <fieldset>
		
		    <legend>Packets Loss Parameters scheduler</legend>
		    <br>
		    		    
		    <div class="control-group">
				<label class="control-label" for="inputRegion">regionId</label>
				<div class="controls">
					<input type="text" id="inputRegion" placeholder="regionId">
				</div>
				
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputHostId">hostId</label>
				<div class="controls">
					<input type="text" id="inputHostId" placeholder="hostId">
				</div>
			</div>
			
				<div class="control-group">
				<label class="control-label" for="inputFequency">Fequency</label>
				<div class="controls">
					<input type="text" id="inputPublicIp" placeholder="-- min">
				</div>
			</div>
			
		    
		    <div class="form-actions">
		    	<button type="submit" class="btn btn-primary">Save changes</button>
		    	<button type="button" class="btn">Cancel</button>
		    </div>
	    
	    </fieldset>
    </form>
    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	</div>
  </div>
 </div>

</body>
