

<script>
   function confirmPassword() {
      var pw1 = document.all['user_password'].value;    
      var pw2 = document.all['user_confirm_password'].value;  

     <% if ( ! user.id) { %>
        if (!pw1 || !pw2) {
           alert('');
           return false;         
        } 
     <% } %>

      if (pw1 == pw2) {
         return true;
      } else {
         alert('Passwords are not equal');
         return false;		     
      } 
   }
</script>


  <div class='control-group <%- locals.validate_errors && validate_errors.name 
                                ? "error" : "" %>'>

    <label class='control-label' for="user_login">Login</label>
    <div class='controls'>

      <input type="text" id="user_login" name="login" size="30" 
             placeholder='login' value='' />
    </div>   
  </div>


  <div class='control-group <%- locals.validate_errors && validate_errors.name 
                                ? "error" : "" %>'>

    <label class='control-label' for="user_name">Name</label>
    <div class='controls'>

      <input type="text" name="name" size="30" 
             placeholder='name' value='' />
    </div>   
  </div>



  <div class="control-group">
    <label class='control-label' for="user_password">Password:</label>
    <div class='controls'>
      <input type="password" id="user_password" name="password" size="30" 
             placeholder='' value='' />
    </div>   
  </div>

  <div class="control-group">
    <label class='control-label' for="user_confirm_password">New Password:</label>
    <div class='controls'>
      <input type="password" id="user_confirm_password" size="30" 
            placeholder='' value='' />
    </div>   
  </div>

  <button type='submit' class='btn btn-success' onclick='return confirmPassword()'>
     Save
  </button>
  <button type='reset' class='btn'>Clear</button>

